/** section tout le site */
*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 65%;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/fond_clair.png);
	background-size: cover;
}

h1{
	font-family: 'gilbert-color-bold-preview5';
	font-size: 2rem;
	font-weight: lighter;
	text-align: center;
}

a{
	font-family: 'Comfortaa', cursive;
	color: #212531;
	text-decoration: none;
	margin-top: 3%;
	font-size: 2.5rem;
	padding: 20px;
}

/** HEADER */
.header{
	text-align: center;
	background-color: #FFFFFF;
}


.header img#logo{
	margin-top: -6%;
	max-width: 45%;
	height: auto;
}

.header img#lang{
	margin-top: -1%;
	max-width: 20%;
	height: auto;
}

nav.menu{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.header a:hover{
	text-decoration: underline;
	text-decoration-color: #546DE5;
}

/** section vidéo */
.video-promo {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
}

.video-promo iframe {
    height: 100%;
    width: 100%;
    position: absolute; 
    overflow: hidden;
	border: none;
}

/** section description */
.description{
	text-align: center;
	font-size: 2rem;
	padding-left: 10%;
	padding-right: 10%;
}

.description p{
	background-color: #FFFFFF;
	
}

/** section etage */
.etage>div{
	display: flex;
	justify-content: space-around;
	
}

.etage-item{
	overflow: hidden;
	display: block;
	position: relative;
	margin: 0;
}


/** section interview */

/** section footer */
.footer{
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 1.5rem;
	display: block;
}

.footer img#logo{
	width: 5%;
}

/** section form */