*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

/** HEADER */
.header{
	text-align: center;
	background-color: #E5E5EA;
}

a{
	font-family: 'Comfortaa', cursive;
	color: #212531;
	text-decoration: none;
	margin-top: 20px;
	font-size: 18px;
}

a>img{
	margin-top: -10px;
}

nav.menu{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: auto;
}

a:hover{
	text-decoration: underline;
	text-decoration-color: #546DE5;
	border-width: 3px;
}

/** section vidéo */

/** section description */

/** section etage */

/** section interview */

/** section footer */