*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 65%;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/fond_clair.png);
	background-size: cover;
}

/** HEADER */
.header{
	text-align: center;
	background-color: #FFFFFF;
}

a{
	font-family: 'Comfortaa', cursive;
	color: #212531;
	text-decoration: none;
	margin-top: 50px;
	font-size: 2rem;
	padding: 20px;
}

img#logo{
	margin-top: -50px;
	max-width: 45%;
	height: auto;
}

img#lang{
	margin-top: -10px;
	max-width: 20%;
	height: auto;
}

nav.menu{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

a:hover{
	text-decoration: underline;
	text-decoration-color: #546DE5;
}

/** section vidéo */
.video_promo{
	display: flex;
}

iframe{
	width: 100%;
	border: none;
}

/** section description */

/** section etage */

/** section interview */

/** section footer */