@import url('https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview4.css');
:root {
  --logo-img :url(../images/logo_bleu_site.png);
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --footer-color : white;
      --background-image: url(../images/fond_clair.png);
    --font-color: black;
    --heading-color: #292922;
    --line-color : white;
    --btnline-color : none;

}
[data-theme="dark"] {
  --logo-img :url(../images/logo_vert_site.png);
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color:white;
    --footer-color : black;
    --background-image: url(../images/fond_dark.png);
    --heading-color: #818cab;
    --line-color : black;
    --btnline-color : none;
}
*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 65%;
}


h1{
	font-family: 'gilbert-color-bold-preview5';
	font-size: 2rem;
	font-weight: lighter;
	text-align: center;
}

a{
	font-family: 'Comfortaa', cursive;
	color: #212531;
	text-decoration: none;
	margin-right: 2px;
	font-size: 2.5rem;

}

body{
  font-family: 'Comfortaa', cursive;

  background-image: var(--background-image);

  background-size: cover;

  color: var(--font-color);
  transition: 0.5s ease;

}
#log{
  margin-left:20px;
  margin-top: 20px;
  background-image:  var(--logo-img);
  background-size: 230px;
  background-repeat: no-repeat;
  top: 30px;
  left: 30px;
  height: 100px;
transition: 0.5s ease;




}
#header{ font-family: 'Comfortaa', cursive;
 position: fixed;
padding-top: 20px;
height: 150px;
width: 100%;
-webkit-box-shadow: 0px 15px 49px -28px rgba(0,0,0,0.91);
-moz-box-shadow: 0px 15px 49px -28px rgba(0,0,0,0.91);
box-shadow: 0px 15px 49px -28px rgba(0,0,0,0.91);
background-color:var(--footer-color);
transition: 0.5s ease;
z-index: 1;}


#bouton{
  left: 290px;
position: fixed;
  font-size: 27px;
  display: inline;
  float: right;
  top: 60px;

}

#bouton a{
  position: relative;
border-radius: 60px;
  border: solid 5px ;
  border-color: var(--line-color);
  color: var(--font-color);
 text-decoration: none;
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
  transition: 0.5s ease;

}
#bouton a:hover{

  border-radius: 60px;
  border: solid 5px #546DE5;
}
#main{
padding-top: 170px;



}
#menu img#lang{
  right: 13px;
  top: 120px;
  position: fixed;
	margin-top: -1%;
	max-width: 20%;
	height: 30px;
}

.theme-switch-wrapper {
  display :inline;
  align-items: center;
padding-left: 77px;

}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;

}

.slider {
  background-color: #f9d71c;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #252850;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/** section vidéo */
#main .video-promo {
  z-index: 0;
    position: relative;
    width: 100%;
    padding-bottom: 56%;
}

#main .video-promo iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
	border: none;
}

/** section description */
.description{
  color: var(--font-color);
	text-align: center;
	font-size: 3rem;
	padding-left: 10%;
	padding-right: 10%;
  transition: 0.5s ease;
  padding-top: 20px;

}


/** section etage */
.etage {
  padding-top: 30px;
  padding-bottom: 30px;
}
.etage>div{

	display: flex;
	justify-content: space-around;


}
.etage img{

  width: 450px;
}
.etage-item{
  text-align: center;
  color: var(--font-color);
	overflow: hidden;
	display: block;
	position: relative;
	margin: 0;
  transition: 0.5s ease;
}


.footer{
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 1.5rem;
	display: block;
}

.footer img#logo{
	width: 5%;
}
.interview{
  text-align: center;

}
